---
import PageLayout from "../../layouts/PageLayout.astro";
import posts from "../../components/data/posts.json";
import HeroTop from "../../components/blog/HeroTop.jsx";
import PostHeader from "../../components/blog/post/Header.jsx";
import PostContent from "../../components/blog/post/Content.jsx";
import "../../styles/global.css";

export async function getStaticPaths() {
  return posts.map((post) => ({ params: { id: post.id.toString() } }));
}
const { id } = Astro.params;
const post = posts.find((p) => p.id === parseInt(id));
if (!post) throw new Error("Post not found");
---

<PageLayout
  titulo={post.title}
  descripcion={post.content.substring(0, 80) + "..."}
  imagen={"/" + post.image}
>
  <!-- Sección de Hero -->
  <HeroTop />

  <!-- Post Header Section -->
  <PostHeader post={post} client:load />

  <!-- Post Content Section -->
  <PostContent content={post.content} client:load />

  <!-- Post Content Section: traslation -->
  {/* Mostrar Título Original si existe */}
  {
    post.original_title && (
      <div class:list="container mx-auto px-16 mt-2 mb-10 mr-12">
        <h2 class="text-4xl font-bold text-black font-nunito mb-10 ml-20">
          {post.original_title}
        </h2>
        <p class="text-2xl text-[#5B5959]  mt-4 mb-4 font-nunito ml-20">
          Original English Version / Versión original en inglés
        </p>
      </div>
    )
  }
  <PostContent content={post.translation} client:load />
</PageLayout>
