---
import PageLayout from "../layouts/PageLayout.astro";
import Card from "../components/Card";
import "../styles/global.css";
---

<PageLayout
  titulo="Sobre Nosotros"
  descripcion="Conoce más sobre nuestro proyecto y equipo"
  imagen="/assets/img/sobre_nosotros.jpg"
>
  <div class="p-4 justify-center items-center">
    <h1 class="text-4xl font-bold mb-4">Sobre Nosotros</h1>
    <p>
      Aquí puedes incluir información sobre el proyecto, su misión, visión, y el
      equipo detrás de él.
    </p>

    <!-- Sección: Equipos -->
    <div class="flex flex-col items-center mb-4">
      <img
        src="/public/assets/images/equipo/simi_uma.png"
        alt="Equipos"
        class="w-12 h-auto mb-2"
      />
      <h2 class="text-3xl font-bold">Equipos</h2>
    </div>

    <!-- Sección: Equipo de Comunicación -->
    <h2 class="text-3xl font-semibold mt-6 mb-4 text-center">
      Equipo de Comunicación
    </h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 justify-center items-center"
    >
      {
        [
          {
            nombre: "Persona 1",
            imagen: "/assets/img/equipo/persona1.jpg",
            linkedin: "https://linkedin.com/in/persona1",
            profesion: "Dev",
          },
          {
            nombre: "Persona 2",
            imagen: "/assets/img/equipo/persona2.jpg",
            linkedin: "https://linkedin.com/in/persona2",
            profesion: "Diseñador",
          },
          {
            nombre: "Persona 3",
            imagen: "/assets/img/equipo/persona3.jpg",
            linkedin: "https://linkedin.com/in/persona3",
            profesion: "Product",
          },
        ].map((miembro, index) => (
          <Card
            key={index}
            nombre={miembro.nombre}
            imagen={miembro.imagen}
            linkedin={miembro.linkedin}
            profesion={miembro.profesion}
            Pasar
            la
            profesión
          />
        ))
      }
    </div>

    <!-- Sección: Equipo de Lingüística -->
    <h2 class="text-3xl font-semibold mt-6 mb-4 text-center">
      Equipo de Lingüística
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      {
        [
          {
            nombre: "Nicaela Leon Coico",
            imagen: "/public/assets/images/equipo/Leon.jpg",
            linkedin: "https://linkedin.com/in/persona4",
            profesion: "Lingüista e Ilustradora infantil",
          },
          {
            nombre: "Maria Eugenia Hidalgo Cossio",
            imagen: "/public/assets/images/equipo/Hidalgo.png",
            linkedin: "https://linkedin.com/in/persona4",
            profesion: "Estudiante de Lingüística",
          },
          {
            nombre: "Celia Elena Rocabado Zalles",
            imagen: "/public/assets/images/equipo/Rocabado.jpg",
            linkedin: "https://linkedin.com/in/persona5",
            profesion: "Lingüista",
          },
          {
            nombre: "Fania Quintana Olaques",
            imagen: "/public/assets/images/equipo/Quintana.jpg",
            linkedin: "https://linkedin.com/in/persona6",
            profesion: "Lingüista",
          },
          {
            nombre: "Ximena Alvarez Gutierrez",
            imagen: "/public/assets/images/equipo/Alvarez.jpg",
            linkedin: "https://linkedin.com/in/persona7",
            profesion: "Lingüista",
          },
          {
            nombre: "Ruth Jimenez Nina",
            imagen: "/public/assets/images/equipo/Jimenez.png",
            linkedin: "https://linkedin.com/in/persona8",
            profesion: "Lingüista",
          },
          {
            nombre: "María Cristina Rojas López",
            imagen: "/public/assets/images/equipo/Rojas.png",
            linkedin: "https://linkedin.com/in/persona9",
            profesion: "Maestra en formación",
          },
          {
            nombre: "Tamara Ingrid Bascope Bozo",
            imagen: "/public/assets/images/equipo/Bascope.png",
            linkedin: "https://linkedin.com/in/persona10",
            profesion: "Estudiante de Lingüística ",
          },
        ].map((miembro, index) => (
          <Card
            key={index}
            nombre={miembro.nombre}
            imagen={miembro.imagen}
            linkedin={miembro.linkedin}
            profesion={miembro.profesion}
            Pasar
            la
            profesión
          />
        ))
      }
    </div>

    <!-- Sección: Equipo de Diseño UX/UI -->
    <h2 class="text-3xl font-bold mt-6 mb-4 text-center">
      Equipo de Diseño UX/UI
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      {
        [
          {
            nombre: "Fabricio Lobaton ",
            imagen: "/public/assets/images/equipo/Lobaton.jpg",
            linkedin: "https://linkedin.com/in/persona1",
            profesion: "Comunicador",
          },
          {
            nombre: "Melany Ventura",
            imagen: "/public/assets/images/equipo/Ventura.jpg",
            linkedin: "https://linkedin.com/in/persona2",
            profesion: "UX/UI Designer & Web Developer",
          },
          {
            nombre: "Melani Carol Padilla Olivares",
            imagen: "/public/assets/images/equipo/Padilla.jpg",
            linkedin: "https://linkedin.com/in/persona3",
            profesion: "UX/UI Designer",
          },
        ].map((miembro, index) => (
          <Card
            key={index}
            nombre={miembro.nombre}
            imagen={miembro.imagen}
            linkedin={miembro.linkedin}
            profesion={miembro.profesion}
            Pasar
            la
            profesión
          />
        ))
      }
    </div>

    <!-- Sección: Equipo de Informática o Sistemas -->
    <h2 class="text-3xl font-bold mt-6 mb-4 text-center">
      Equipo de Informática o Sistemas
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      {
        [
          {
            nombre: "Tania Gisela Choque Condori",
            imagen: "/public/assets/images/equipo/Choque.jpg",
            linkedin: "https://linkedin.com/in/persona1",
            profesion: "Ingeniera de sistemas y médico cirujano",
          },
          {
            nombre: "Vladimir Marco Mujica Pinto",
            imagen: "/public/assets/images/equipo/Mujica.jpg",
            linkedin: "https://linkedin.com/in/persona2",
            profesion: "Desarrollador de Software",
          },
          {
            nombre: "Raquel Andrea Calderón Gallardo",
            imagen: "/public/assets/images/equipo/Calderon.png",
            linkedin: "https://linkedin.com/in/persona3",
            profesion: "Ingeniería Biomédica",
          },
          {
            nombre: "Ruben Pol Ventura Huchani ",
            imagen: "/public/assets/images/equipo/VENTURA.jpg",
            linkedin: "https://linkedin.com/in/persona4",
            profesion: "Estudiante de informática",
          },
        ].map((miembro, index) => (
          <Card
            key={index}
            nombre={miembro.nombre}
            imagen={miembro.imagen}
            linkedin={miembro.linkedin}
            profesion={miembro.profesion}
            Pasar
            la
            profesión
          />
        ))
      }
    </div>
  </div>
</PageLayout>
